body {
    background-image: url(../assets/bloom-blossom-flora-612807.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 1100px;
}
.navbar{
  height: 70px;
  border-bottom: 2px black solid;
}
.navbar-nav{
    margin-left: 70%;
    font-size: 20px;
}
.navbar-brand{
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 5px 0px 8px #0a0a0aab;
}
.img-thumbnail {
  height: 300px;
  margin: 30px;
  margin-top: 70px;
  margin-left: 50px;
  box-shadow: 1px -1px 11px 11px #04040447;
}
#firstContainer{
    margin-top: 90px;
    background-color: rgba(255, 255, 255, 0.493);
    height: 800px;
}
.text{
    width: 600px;
    font-size: 20px;
    margin-top: 60px;
    font-family: 'ZCOOL XiaoWei', serif;
    text-shadow: 5px 0px 8px #0a0a0a4d;

}
footer {
  font-family: 'ZCOOL XiaoWei', serif;
  background: white;
  font-size: 20px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 30px;
}
.portfolioText{
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    margin-top: 5%;
    text-shadow: 5px 0px 8px #0a0a0aa8;
}
button {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  button {
    position: absolute;
    left: 20%;
    top: 60px;
    height: 100px;
    width: 350px;
    background: #efe7e7fa;
    background: linear-gradient(top, #555, #333);
    border: 1px wheat solid;
    border-radius: 0 0 0.2em 0.2em;
    color: #080707;
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    transform-origin: 50% 5em;
    box-shadow: 2px 9px 20px 4px #0a0a0aa8;
}
/*ICONS*/
.contacts{
  margin-left: 60%;
}
.gitHubIcon{
  width: 60px;
  cursor: pointer;
}
.facebookIcon{
  width: 55px;
  cursor: pointer;
}
.linkedInIcon{
  width: 65px;
  cursor: pointer;
}
.contactMe{
  width: 60px;
  cursor: pointer;
}
.resumeIcon{
  width: 70px;
}
/*MODAL*/
.modal-header h1{
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 30px;
  
}
 .modal-body{
  font-family: 'ZCOOL XiaoWei', serif;
  height: 280px;
 }
 .modal-body p{
  font-size: 25px;
 }
 .modal-body h2{
   font-weight: bold;
 }
 #contactModal{
  margin-top: 9%;
 }
 .modal-backdrop{
  background: #000000a1;
 }
 