body {
   
    height: 1100px;
}
#first{
  width: 100%;
  height: 1500px;
}
#portfolioHeader{
  text-align: center;
    font-size: 80px;
    margin: 20px;
    margin-bottom: 40px;
    text-shadow: 6px 6px 11px #0b0909b0;
    font-family: 'Libre Baskerville', serif;
}
#portfolioRow{
background-image: url('./forest-931706_1920.jpg');
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 2;
}
.navbar-nav{
  margin-left: 35%
}
#mainP{
  color: white;
    font-size: 30px;
    width: 1000px;
    margin-left: 20px;
    margin-top: 30px;
    text-shadow: 6px 6px 11px #0b0909f7;
    font-family: 'Libre Baskerville', serif;
}
#mainH{
  margin-top: 20%;
    color: #f8f7f5;
    font-size: 70px;
    margin-left: 20px;
    text-shadow: 6px 6px 11px #0b0909f7;
    font-family: 'Libre Baskerville', serif;
}
#backColumn{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/Jenna2.jpg);
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: unset;
    zoom: 90%;
    box-shadow: 5px 7px 20px 18px #080707b5;


}
#firstRow{
  
}

.navbar-brand{
  font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 5px 0px 8px #0a0a0aab;
    color: white;
}
.img-thumbnail {
  height: 300px;
  margin: 30px;
  margin-top: 70px;
  margin-left: 50px;
  box-shadow: 1px -1px 11px 11px #04040447;
}

.text{
    width: 600px;
    font-size: 20px;
    margin-top: 60px;
    font-family: 'ZCOOL XiaoWei', serif;
    text-shadow: 5px 0px 8px #0a0a0a4d;

}
footer {
  font-family: 'ZCOOL XiaoWei', serif;
  background: white;
  font-size: 20px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 30px;
  z-index: 2;
}
.portfolioText{
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    margin-top: 5%;
    text-shadow: 5px 0px 8px #0a0a0aa8;
}

a{
  color: white;
}
/*ICONS*/

.gitHubIcon{
  width: 60px;
  cursor: pointer;
}
.facebookIcon{
  width: 55px;
  cursor: pointer;
}
.linkedInIcon{
  width: 65px;
  cursor: pointer;
}
.contactMe{
  width: 60px;
  cursor: pointer;
}
.resumeIcon{
  width: 70px;
}
/*MODAL*/
.modal-header h1{
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 30px;
  
}
 .modal-body{
  font-family: 'ZCOOL XiaoWei', serif;
  height: 280px;
 }
 .modal-body p{
  font-size: 25px;
 }
 .modal-body h2{
   font-weight: bold;
 }
 #contactModal{
  margin-top: 9%;
 }
 .modal-backdrop{
  background: #000000a1;
 }
 /*CARDS*/
 .card-title{
  font-size: 60px;
  text-shadow: 4px 6px 0px #070707;
 }
 
 .card{
   margin: 20px;
   width: 40%;
   box-shadow: 4px 5px 13px 4px #000000;
}


 
#back {
  width: 500px;
    left: 30%;
    margin-bottom: 20%;
    position: sticky;
}
 .imgText img{
  width: 489px;
 }
 #trivia{
  margin-left: 60%;
 }
 #gif{
   margin-left: 60%;
 }
 #indexText{
  text-shadow: 5px 3px 12px #fdf9f9;
  font-size: 21px;
 }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #secondPortCol{
    padding-right: 80px;
  }
  .portfHead{
    display: none;
  }
  #first{
    width: 934px;
    padding: 0px;
  }
  #indexImg{
    width: 250px;
    height: 250px;
    margin: 10px;
    margin-top: 50px;
  }
  #indexText{
    width: 390px;
    float: right;
    margin-top: 10%;
    font-size: 19px;
  }
  #indexBtn {
    width: 80%;
    font-size: 35px;
}
  
  .modal-backdrop{
    width: 100%;
    height: 100%;
  }
  .navbar-brand{
    font-size: 30px;
  }
  
.card-title{
  font-size: 29px;
}
.imgText{
 left: 20%;
}
#back{
  left: 15%;
    width: 440px;
    font-size: 35px
}
.gitHubIcon{
  width: 40px;
}
.facebookIcon{
  width: 40px;
}
.linkedInIcon{
  width: 40px;
}
.resumeIcon{
  width: 40px;
}
.contactMe{
  width: 40px;
}
.contacts{
  margin: 0px;
}
.project{

}
body{
  width: 610px;
}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #indexBtn{
    font-size: 30px;
    width: 70%;
  }
  .portfolioText{
    font-size: 30px;
  }
  #indexImg{
    width: 250px;
    height: 250px;
  }
  #indexText{
    margin-top: 30px;
    font-size: 18px;
  }
  
  .modal-backdrop{
    width: 100%;
    height: 100%;
  }
  .card-title{
    font-size: 29px;
  }
  .navbar-brand{
    font-size: 30px;
  }
  .contacts{

  }
  
  .gitHubIcon{
    width: 50px;
  }
  .facebookIcon{
    width: 50px;
  }
  .linkedInIcon{
    width: 50px;
  }
  .contactMe{
    width: 50px;

  }
  .resumeIcon{
    width: 50px;
  }
  #back{
    left: 18%;
  }
  body{

  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal-backdrop{
    width: 100%;
    height: 100%;
  }
  figure.snip1421{
     height: 12%;
  }
  .portfolio{
    padding-right: 10%;
  }
  #mainH{
    font-size: 40px;
    margin-top: 40%;

  }
  #mainP{

  }
  
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .navbar-nav{
    margin-left: 60%;
  }
  figure.snip1421 {
    height: 20%;
}
  .portfolioText{
    font-size: 35px;
    margin-left: 90px;
  }
  #indexText{
    font-size: 23px;
    margin-top: 10%;
    margin-left: 15px;
  }
  #indexImg{
    width: 300px;
    height: 300px;
  }
  
  .modal-backdrop{
    width: 100%;
    height: 100%;
  }
  
  .gitHubIcon{
    margin-top: 8%;
    width: 55px;
    cursor: pointer;
  }
  .facebookIcon{
    margin-top: 8%;
    width: 55px;
    cursor: pointer;
  }
  .linkedInIcon{
    margin-top: 8%;
    width: 55px;
    cursor: pointer;
  }
  .contactMe{
    margin-top: 8%;
    width: 55px;
    cursor: pointer;
  }
  .resumeIcon{
    margin-top: 8%;
    width: 55px;
    cursor: pointer;
  }
  .navbar-brand{
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 5px 0px 8px #0a0a0aab;
}
#back{
  left: 28%;
}
.card-title{
  margin-top: 10%;
    font-size: 40px;
    text-align: center;
}

}
@media only screen and (min-width: 1400px) {
  .navbar-nav{
    margin-left: 70%;
  }
  #mainH{
    font-size: 40px;
    margin-top: 30%;

  }
}
@media only screen and (min-width: 1900px){
  .navbar-nav{
    margin-left: 80%;
  }
  #mainH{
  margin-top: 20%;
    color: #f8f7f5;
    font-size: 70px;
    margin-left: 20px;
    text-shadow: 6px 6px 11px #0b0909f7;
  }
  figure.snip1421{
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 750px;
    max-height: 400px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 8%;
    box-shadow: 5px 5px 20px 4px #0d0c0c;
    margin-bottom: 40px;
  }
}

/*PORTFOLIO*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1503 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 750px;
    max-height: 400px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 8%;
    box-shadow: 5px 5px 20px 4px #0d0c0c;
    margin-bottom: 40px;
}

.snip1503 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1503 img {
  vertical-align: top;
  max-width: 100%;
}

.snip1503 figcaption {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  z-index: 1;
  border: 1px solid #ffffff;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.8);
}

.snip1503 h3 {
  padding: 7px 15px;
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 2px;
  display: inline-block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  color: rgba(255, 255, 255, 0);
}

.snip1503 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1503:hover > img,
.snip1503.hover > img {
  opacity: 0.5;
}

.snip1503:hover h3,
.snip1503.hover h3 {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  color: #ffffff;
}
figure.snip1503 img {
  opacity: 1;
  width: 100%;
  height: 300px;
}
/*
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
figure.snip1421 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 750px;
    max-height: 400px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 8%;
    box-shadow: 5px 5px 20px 4px #0d0c0c;
    margin-bottom: 40px;
}
figure.snip1421 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1421 img {
  opacity: 1;
  width: 100%;
  height: 396px;
}
figure.snip1421:after,
figure.snip1421:before,
figure.snip1421 figcaption:after,
figure.snip1421 figcaption:before {
  background: #0a0a0a;
  width: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s steps(4);
  transition: all 0.3s steps(4);
  z-index: 1;
  top: 50%;
  bottom: 50%;
}
figure.snip1421:before {
  left: 0;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip1421:after {
  left: 25%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1421 figcaption:before {
  left: 50%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  z-index: -1;
}
figure.snip1421 figcaption:after {
  left: 75%;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  z-index: -1;
}
figure.snip1421 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
}
figure.snip1421 h2,
figure.snip1421 p,
figure.snip1421 .icons {
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1421 h2 {
  font-weight: 900;
  text-transform: uppercase;
}
figure.snip1421 p {
  font-weight: 300;
}
figure.snip1421 .icons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
figure.snip1421 i {
  padding: 0px 10px;
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  opacity: 0.8;
}
figure.snip1421 i:hover {
  opacity: 1;
}
figure.snip1421:hover:after,
figure.snip1421.hover:after,
figure.snip1421:hover:before,
figure.snip1421.hover:before,
figure.snip1421:hover figcaption:after,
figure.snip1421.hover figcaption:after,
figure.snip1421:hover figcaption:before,
figure.snip1421.hover figcaption:before {
  top: 0;
  bottom: 0;
  opacity: 0.8;
}
figure.snip1421:hover figcaption h2,
figure.snip1421.hover figcaption h2,
figure.snip1421:hover figcaption p,
figure.snip1421.hover figcaption p,
figure.snip1421:hover figcaption .icons,
figure.snip1421.hover figcaption .icons {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
figure.snip1421:hover figcaption h2,
figure.snip1421.hover figcaption h2,
figure.snip1421:hover figcaption .icons,
figure.snip1421.hover figcaption .icons {
  opacity: 1;
}
figure.snip1421:hover figcaption p,
figure.snip1421.hover figcaption p {
  opacity: 0.7;
}
*/